.productdetails_container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-grow: 1;
  height: 100%;
  
}
.productview_container {
  position: relative;
  height: 40rem;
  top: 8rem;
  left: 0rem;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-grow: 1;
  
}
.product_details{
  position: absolute;

width: 100%;
  top: 0rem;
  left: 0rem;
}
.productdetails_title {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 20rem;
  font-size: 1.6rem;
  color: #0078a1;
  font-family: "Source Sans Pro", helvetica, arial, sans-serif;
}
.producttitleabout{
    position: absolute;
    top: 12rem;
    left: 0rem;
    
    font-family: "Source Sans Pro", helvetica, arial, sans-serif;
    color: #0078a1;
}
.productdetails_about{
position: absolute;
top: 16rem;
left: 0rem;

}
.pdrtdetails_card{
  position: absolute;

  height: 25rem;
  width: 20rem;
  top: 3rem;
  left: 50rem;
  
 
}
.noimage_div{
  position: relative;

  width: 40%;
  height: 25rem;
  top: 3rem;
  left: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  
  color: rgb(214, 212, 212);
}
.productdetails_price{
  position: absolute;
font-size: 1.3rem;
top: 3.5rem;

left: 0rem;

}
.productdetails_partnumber{
  position: absolute;
 font-size: .8rem;
  top: 7rem;
  left: 0rem;
  color: grey;
}

.addtocart_btn{ 
  position: absolute;
  top: 13rem;
  left: 0rem;
  background-color: rgb(155, 191, 231);
  padding: .6rem;
  width: 20rem;
  font-size: 1rem;
  color: white;
  border: none;
  cursor: pointer;
    
}
.addtocart_btn:active{
  border: 1px solid grey;
}

.product_details h3{
    position: absolute;
    top: 14rem;
    left: 0rem;


}
.product_details .about_specifications{
    position: relative;
    top: 20rem;
    left: 0rem;
   
  


}
.productdetails_benefits{
    position: relative;
    top: 16rem;
    width: 70%;
}
.productdetails_specifications{
  position: relative;
  top: 18rem;
  width: 70%;
  background-color: rgb(214, 210, 210);
  height: 20rem;
  font-size: 1.3rem;

}
.productdetails_specifications h2{
  color: #0078a1;
  font-size: 2rem;
}
.productdetails_benefits h2{
    color: #0078a1;
    font-size: 2rem;
}
.productdetails_routes{
  position: relative;
  top: 0rem;
  left: 1rem;
  display: flex;
  flex-direction: row;
  color: #0078a1;
  
}
.btn_addtocart{
  position: relative;
  top: 40rem;
}

.image-gallery {
  position: relative;
  top: 2rem;
  right: 10rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.big-image {
  margin-bottom: 20px;
}

.big-image img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.thumbnails img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.thumbnails img:hover {
  transform: scale(1.1);
}
.productdetails_footer{
  position:absolute;

  background-color: #373D41;
  top: 65rem;
  height: 8rem;
  left: 0;
  right: 0;
  box-sizing: border-box;

}
.productdetails_tabs {
  
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.productdetails_tabs button {
  background-color: transparent;
  color: #0078a1;
  border: none;
  right: 25rem;
  padding: 10px 20px;
  border-radius: 0;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  position: relative;
  transition: color 0.2s ease-in-out;
}

.productdetails_tabs button::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #0078a1;
  transition: width 0.3s ease-in-out;
}
.productdetails_tabs .tab_separator {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0078a1;
}
.productdetails_tabs button:hover::before {
  width: 100%;
}

.productdetails_tabs button.active {
  color: #005b7f;
}

.productdetails_content {
  position: relative;
  height: 20rem;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;

}
.stock_status_prdtdetails{
  position: relative;
  left: .5rem;
  top:17rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  font-size: .8rem;
}

@media (max-width: 45rem) {
 .productview_container{
  left: 0rem;
 }
 .productdetails_routes{
  left: 12rem;
 }
 .product_details{
  left: -10rem;
  
 }
 .pdrtdetails_card{
  position: relative;
  top: 0rem;
  left: 15rem;
 }
 .productdetails_footer{
  top: 60rem;
 }
 
}