.productdetails_container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-grow: 1;
  height: 100%;
  
}
.productview_container {
  position: relative;
  height: 40rem;
  top: 10rem;
  left: 0rem;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-grow: 1;
  
}
.product_details{
  position: absolute;

width: 100%;
  top: 0rem;
  left: 0rem;
}
.productdetails_title {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 20rem;
  font-size: 1.6rem;
  color: #0078a1;
  font-family: "Source Sans Pro", helvetica, arial, sans-serif;
}
.producttitleabout{
    position: absolute;
    top: 12rem;
    left: 0rem;
    
    font-family: "Source Sans Pro", helvetica, arial, sans-serif;
    color: #0078a1;
}
.productdetails_about{
position: absolute;
top: 16rem;
left: 0rem;

}
.pdrtdetails_card{
  position: absolute;

  height: 25rem;
  width: 20rem;
  top: 3rem;
  left: 50rem;
 
}
.noimage_div{
  position: relative;

  width: 40%;
  height: 25rem;
  top: 3rem;
  left: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  
  color: rgb(214, 212, 212);
}
.productdetails_price{
  position: absolute;
font-size: 1.3rem;
top: 3.5rem;

left: 0rem;

}
.productdetails_partnumber{
  position: absolute;
 font-size: .8rem;
  top: 7rem;
  left: 0rem;
  color: grey;
}

.addtocart_btn{ 
  position: absolute;
  top: 13rem;
  left: 0rem;
  background-color: rgb(155, 191, 231);
  padding: .6rem;
  width: 20rem;
  font-size: 1rem;
  color: white;
  border: none;
  cursor: pointer;
    
}
.addtocart_btn:active{
  border: 1px solid grey;
}

.product_details h3{
    position: absolute;
    top: 14rem;
    left: 0rem;


}
.product_details .about_specifications{
    position: relative;
    top: 20rem;
    left: 0rem;
   
  


}
.productdetails_benefits{
    position: relative;
    top: 16rem;
    width: 70%;
}
.productdetails_specifications{
  position: relative;
  top: 18rem;
  width: 70%;
  background-color: rgb(214, 210, 210);
  height: 20rem;
  font-size: 1.3rem;

}
.productdetails_specifications h2{
  color: #0078a1;
  font-size: 2rem;
}
.productdetails_benefits h2{
    color: #0078a1;
    font-size: 2rem;
}
.productdetails_routes{
  position: relative;
  top: -25rem;
  left: 1rem;
  display: flex;
  flex-direction: row;
  color: #0078a1;
  
}
.btn_addtocart{
  position: relative;
  top: 40rem;
}
tbody{
  position: absolute;
  width: 100%; 
 
}
.image-gallery { 
   position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;


  top: 20rem;
  left: 18rem;
  height: 20rem;
}
.big-image img {
  max-width: 500px;
  max-height: 350px;
  margin-left: 15px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  width: 100%;
}

.thumbnails img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  cursor: pointer;
}

.thumbnails img:hover {
  border: 1px solid grey;
}


