.mainpage_container {
  position: relative;
  display: flex;
  flex-grow: 1;
  top: 0rem;

  box-sizing: border-box;
}

section {
  position: absolute;
  height: 25rem;
  top: 10rem;
  left: 7rem;
  width: 90%;
  
}
.main_p {
  position: relative;
  top: 0rem;
font-size: 4rem;
  width: 92%;
  font-weight: bold;
text-align: center;
  color: white;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.main_sub_P{
  font-size: 2rem;
  position: relative;
  top: 0rem;
  width: 92%;
  font-weight: bold;
text-align: center;
  color: white;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.p_atlas_copco {
  font-weight: bold;
  
}
.submain_p {
  position: relative;
  color: white;
  font-size: 2rem;
  font-family: "Source Sans Pro", helvetica, arial, sans-serif;
  font-weight: 800;
  text-align: center;
  
  font-style: normal;
  width: 90%;
top: 0rem;
  line-height: 1.1;
}
.sub_p_sub {
  position: relative;
  top: 5rem;
  left: 5rem;
  width: 70%;
  font-weight: 800;
  font-size: 1.5rem;
  color: #0078a1;
}
.sub_p_sub p {
  font-size: 2rem;
  font-weight: 800;
}
.main_p, .submain_p{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Dark shadow for better contrast */
}

.container_media {
  position: absolute;
  height: 35rem;
 
  width: 100%;
  left: 0rem;
  top: 5rem;
  background-size: cover;
  background-position: center;
  background-image: url("/public/images/Group 2.png");
}

.shopwithus {
  position: absolute;
  top: 70rem;
  background-color:  #0078a1 ;
  left: 0;
  right: 0;
  font-size: 2rem;

  height: 18rem;
}
.shopwithus h3 {
  position: absolute;
  top: 0rem;
  left:32rem;
  color: white;
  font-weight: bolder;

}

.imageshop_withus{
  position: relative;
  top: 0rem;
  max-width: 40%;
  left: -2rem;
  height: 18rem;
}
.featuredproducts_mainpage {
  position: absolute;
  top: 90rem;
  
  width: 100%;
}
.featuredproducts_mainpage h2{
    position: relative;
   width: 15rem;
    height: 3rem;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.featuredproducts_mainpage h3{
    position: relative;
 
  
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.mylinks_mainpage {
  position: relative;
  top: 1rem;
  left: 0rem;
  width: 20rem;
  margin-left: 5rem;
  margin-right: 5rem;
  height: 15rem;
  color: black;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;


}

.mylinks_mainpage:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mainpage_footer {
  position:absolute;
  background-color: #373D41;
  top:120rem;
  height: 30rem;
  left: 0;
  right: 0;
  box-sizing: border-box;

}
.mainpage_products {
  position: absolute;
display: flex;
height: 20rem;
border:currentColor;
overflow-x: auto;
flex-direction: row;
width: 100%;

flex-direction: row;
}
.individual_categories{
  position: relative;
height: 16rem;
width: 13rem;
left: 1rem;
top: 1rem;
margin-left: 2rem;



}
.individual_categories:hover{
box-shadow: 0px 0px 8px 0px;
}
.individual_categories p{
  position: relative;
  left: 1rem;
  color:   #0078a1;
}
.individual_images{
  position: relative;
  height: 10rem;
  width: 13rem;

}
.btn_toShop{
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1rem;
  color: black;
  background:none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.btn_toShop:hover{
 color:#0078a1;
}




@media (max-width: 45rem) {
  .container_media {
   
    top: 8rem;
    left: 0rem;
    width: 100%;
    height: 21rem;

  }
 
  section {
    left: 0rem;
    top: 7rem;
    height: 60rem;
    width: 90%;
    
  }
  .main_sub_P{
    position: relative;
    font-size: 1.8rem;
    top:0rem;
    left: 0rem;
  }
  .shopwithus {
    top: 75rem;
    width: 100%;
    height: 10rem;

    left: 0rem;
  }
  .imageshop_withus{
    position: relative;
    top: 0rem;
    max-width: 50%;
    left: 0rem;
    height: 10rem;
  }
  .shopwithus h3{
    position: relative;
    top: -10rem;
    left: 14rem;
    width: 12rem;
    font-size: 1rem;
  color: black;


  }
  .arrow_left {
    left: 0rem;
  }
  .submain_p {
    
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    height: 10rem;
    left: 0rem;
    top: 0rem;
    font: .8rem;
  }

  .arrow_right {
    left: 25rem;
  }
  .shopwithus_arrowright {
    left: 21rem;
    top: 2.5rem;
  }
  .main_p {
   
    left: 0rem;
    top: 1rem;

    font-size: 2.3rem;

    font: 1rem;
  }
  .sub_p_sub {
    position: relative;
    left: 0rem;
    top: -4rem;
    width: 100%;
    font-size: 1.4rem;

  }
  .featuredproducts_mainpage{
    position: relative;
    top: 85rem;
    width: 100%;
    left: 0rem;
    background-color: grey;
   
  }
  .featuredproducts_mainpage h2{
    font-size: 1rem;
    left: 1rem;
  }
  .section{
    position: relative;
    left: -10rem;
  }

  .mainpage_products{
   position: absolute;
    left: -4rem;
    width: 30rem;
    height: 20rem;

   
  }
  .individual_categories{
    top: 1rem;
  }
  
  .linktoviewmore{
    top: 1.5rem;
    right: 1rem;

  }
  .mainpage_footer{
top: 115rem;

  }
 
}
