.mainpage_container{
    position: relative;
    display: flex;
    flex-grow: 1;
    top: 0rem;

   
    box-sizing: border-box;
    
}
section{
    position: absolute;
    height: 30rem;
   top: 20rem;
   left: 7rem;
    width: 90%;
    

}
 .main_p{
    position: relative;
    font-size: 2rem;
    left: 5rem;
    width: 92%;
    font-weight: bold;
    
    color: #0078a1;
        line-height: 1;
        font-family: "Source Sans Pro", helvetica, arial, sans-serif;
        font-weight: 900;
        font-style: normal;
}
.p_atlas_copco{
    font-weight: bold;
}
.submain_p{
    position: relative;
    color: #0078a1;
    font-size: 2rem;
    font-family: "Source Sans Pro", helvetica, arial, sans-serif;
    font-weight: 400;
    left: 5rem;
    font-style: normal;
    width: 50%;
    
    line-height: 1.1;

}
.sub_p_sub{
    position: relative;
    top: 25rem;
    left: 5rem;
    width: 70%;
    font-size: 1.5rem;
    color: #0078a1;
}
.sub_p_sub p{
    font-size: 2rem;
}
.img_mainpage{
    position: absolute;
    top: 0rem;
    left: 0rem;
    max-width:70%;
    min-height: 50%;
}
.container_media{
    position: absolute;
    height: 50rem;
    width: 100%;
    left: 0rem;
    top: 10rem;
    background-image: url('/public/download_image_1715842788931.png');
    
}
.image1{
    position: absolute;
    top:1rem;
    left: 1rem;
    max-height: 70%;
    min-width: 8%;
    display: none;
}
.image2{
    position: absolute;
    top:5rem;
    left: 0rem;
    max-height: 100%;
    min-width:100%;
    width: 100%;
    visibility: hidden;
}
.image3{
    position: absolute;
    top:1rem;
    left: 50rem;
    max-height: 80%;
    min-width: 8%;
    display: none;

}
.arrow_left{
    position: relative;
    top: 8rem;
    left: 0rem;
    
    width: 1rem;
    cursor: pointer;
    color: white;
font-size: 3rem;
}
.arrow_right{
    position: relative;
    top: 5.5rem;
    width: 1rem;
    left: 67rem;    
    color: white;
    font-size: 3rem;
    cursor: pointer;

}
.shopwithus{
    position: absolute;
    top: 90rem;
    background-color: rgb(240, 239, 239) ;
   left: 0;
   right: 0;
    font-size: 2rem;
    
    height: 10rem;

}
.shopwithus h3{
    position: absolute;
    top: 0rem;
}
.shopwithus_arrowright{
    position: relative;
    cursor: pointer;
    
    top: 2rem;
    left: 60rem;
}
@media(max-width:45rem) {
    .container_media{
        left: 0rem;
    }
    .image1{

        display: none;
    }
    .image3{
display: none;

    }
.image2{
    left: 2rem;
    max-height: 100%;
    min-width:98%;
}  
  section{
    top: 20rem;
    height: 60rem;
    width: 90%;
  }
.shopwithus{
    top: 82rem;
    width: 90%;
    left: 1rem;
}
.arrow_left{
    left: 0rem;
}
.submain_p{
    width: 90%;
    left: 0rem;

}

.arrow_right{
    left: 25rem;
}
.shopwithus_arrowright{
    left: 21rem;
    top: 2.5rem;

}
.main_p{
    left: 0rem;
    font: 1rem;
}
.sub_p_sub{
    left: 0rem;
    
}
    
}