.container_productcategories{
    position: relative;
    top: 9rem;
    height: 20rem;
    width: 10rem;
   
}

  
  .price-filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  
  .price-filters button {
    position: relative;
   
    
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    left: 1rem;
    width: 8rem;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .price-filters button:hover {
    background-color: #005f7f;
  }
  