.container_productcategories{
    position: relative;
    top: 14rem;
    height: 20rem;
    width: 15rem;
    background-color: aqua;
}

  
  .price-filters {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .price-filters button {
    background-color: #0078a1;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .price-filters button:hover {
    background-color: #005f7f;
  }
  