/* footerLinks.css */
.footer-links-container {
    
    top: -26rem;
    left: 36.5rem;
    position: relative;
    padding: 20px;
    width: 10rem;
    
  }
  .footer-links-container h4{
    position: relative;
    top: 3rem;
    width: 15rem;
    font-size: 1.1rem;
    left: 0rem;
    color: #0078a1;
  }
  
  .footer-links {
    list-style-type: none;
    position: relative;
    top: 1.5rem;
    padding: 0;
    margin: 0;
    font-size: .9rem;
    display: grid;
    grid-template-columns: repeat(5, minmax(90px, 1fr));
    gap: 10px;
  }
  
  .footer-links li {
    height: 1rem;
   
    list-style-type: none;
  }
  
  .footer-links a {
    color: #0078a1;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 45rem) {
    .footer-links-container{
      left: 0rem;
      top:3rem;
      width: 24rem;
      position: relative;
height: 22rem;
      
    }
    .footer-links{
     
      top: -3rem;
      width: 25rem;
     
      grid-template-columns: repeat(4, minmax(70px, 1fr));
    gap: 10px;
    }
    .footer-links-container h4{
      position: relative;
      top: -2rem;
    }
  }