.checkout_container{
    position: absolute;
    display: flex;
    flex-grow: 1;
    width: 100%;

    
}
  h4{
    position: absolute;
    left: 2rem;
    top: 8rem;
    font-size: 2rem;
    
}
.shippingdetails{
    position: absolute;
    left: 2rem;
    top: 12rem;
    font-size: 1.5rem;
    

}
.order_summary_checkout{
    position: absolute;
    background-color: #fafafa;
    right:2rem;
    width: 19rem;
    top: 13rem;
    height: 20rem;

}
.order_summary_checkout p{
    position: relative;
    left:1rem;
    font-weight: 500;
}

form{
    position: absolute;
    
    top: 17rem;
    left: 2rem;
    width: 50rem;
    height: 25rem;

}
input::before{
border-color: grey;
    border-radius: 3px;
}

label{
    position: relative;
    font-size: .8rem;
}
.inputs{
    position: relative;
    display: flex;
    padding: .8rem;
    width: 70%;
    margin-top: 10px;

}
.title{
    position: absolute;
    top: 6rem;
    left: 0rem;
}
.input_title{
    position: relative;
    top: 3rem;
    padding: .8rem;
    width: 74%;
   
    
}
.fname{
    position: absolute;
    top: 12rem;
    left: 0rem;
}
.fnameinput{
    position: relative;
    top: 6rem;
    padding: .8rem;
    width: 70%;

}
.sname{
    position: absolute;
    top: 18rem;
    left: 0rem;
}
.snameinput{
    position: relative;
    top: 9rem;
    padding: .8rem;
    width: 70%;

}
.streetaddresslabel{
    position: absolute;
    top: 23rem;
    left: 0rem;
}
.streetaddressinput{
    
    position: relative;
    top: 12rem;
    padding: .8rem;
    width: 70%;
}

.streetaddress2label{
    position: absolute;
    top: 29rem;
    left: 0rem;
}
.streetaddress2input{
    
    position: relative;
    top: 15rem;
    padding: .8rem;
    width: 70%;
}
.citylabel{
     position: absolute;
    top: 35rem;
    left: 0rem;

}
.cityinput{
    position: relative;
    top: 18rem;
    padding: .8rem;
    width: 70%;
    
}
.ziplabel{
    position: absolute;
    top: 41rem;
    left: 0rem;
}
.zipinput{
    position: relative;
    top: 21rem;
    padding: .8rem;
    width: 70%;
}
.phonelabel{
    position: absolute;
    top: 46rem;
    left: 0rem;
}
.phoneinput{
    position: relative;
    top: 23rem;
    padding: .8rem;
    width: 70%;
}
.emaillabel{
    position: absolute;
    top: 51rem;
    left: 0rem;
}
.emailinput{
    position: relative;
    top: 26rem;
    padding: .8rem;
    width: 70%;
}
.btn_continue{
    position: absolute;
    top: 59rem;
    padding: .8rem;
    left: 0rem;
    width: 40%;
    background-color: #0078a1;
    border: none;
    color: white;

}

.h4_deliverymode{
    position: absolute;
    top: 10rem;
}
.p_deliverymode{
    position: absolute;
    top: 15rem;
    left:2rem
}
.review_container{
    position: absolute;
    top: 10rem;
    left: 2rem;
   

}
.productsdisplay_shoppingcart_review{
    position: absolute;
    border-radius: 6px;
    width: 70%;
    height: 100%;
    top: 40rem;
    left: 1rem;
   
}

.editinfo{
    position: absolute;
    display: flex;
    justify-content: space-between;
    
    color: black;
    top: 2rem;
    right: -30rem;
    text-decoration: none;
}
.editinfo:hover{
    color: #0078a1
}
.backtoform{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1rem;
    cursor: pointer;
    color: black;
    text-decoration: none;

}
.backtoform:hover{
    color: #0078a1
}
.arrowbacktocart{
    position: absolute;
    top:9rem;
    color: #0078a1;
    text-decoration: none;
}
.arrowbacktocart:hover{
    opacity: .7;
}