.checkout_container{
    position: absolute;
    display: flex;
    flex-grow: 1;
    width: 100%;

    
}
.checkout_container  h4{
    position: absolute;
    left: 0rem;
    top: 10rem;
    font-size: 2rem;
    
}
.arrowbackCheckout{
    position: relative;
    top: .19rem;
}
.shippingdetails{
    position: absolute;
    left: 2rem;
    top: 12rem;
    font-size: 1.5rem;
    

}
.order_summary_checkout{
    position: absolute;
    background-color: #fafafa;
    right:2rem;
    width: 19rem;
    top: 13rem;
    height: 20rem;

}
.order_summary_checkout p{
    position: relative;
    left:1rem;
    font-weight: 500;
}

.form-container-registration {
    position: relative;
    top: 16rem;
    width: 50rem;
    left: 2rem;
    margin: 0 auto;
    
    
    border-radius: 5px;
    
  }
  
  .form-group {
    position: relative;
    
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 13px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group .error {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffdddd;
    color: #d8000c;
    padding: 5px;
    border: 1px solid #d8000c;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 12px;
    box-sizing: border-box;
    z-index: 1;
  }
  

  
  .fname, .sname, .streetaddresslabel, .streetaddress2label, .citylabel, .ziplabel, .phonelabel, .emaillabel {
    margin-top: 8px;
  }
  
  .fnameinput, .snameinput, .streetaddressinput, .streetaddress2input, .cityinput, .zipinput, .phoneinput, .emailinput, .input_title {
    margin-top: 8px;
  }
  

.btn_continue{
    position: absolute;
   cursor: pointer;
    padding: .8rem;
    left: 1rem;
    width: 40%;
    background-color: #0078a1;
    border: none;
    color: white;

}
.btn_continue:hover{
    background-color: grey;

}

.h4_deliverymode{
    position: absolute;
    top: 10rem;
}
.p_deliverymode{
    position: absolute;
    top: 15rem;
    left:2rem
}
.review_container{
    position: absolute;
    top: 10rem;
    left: 2rem;
   

}
.productsdisplay_shoppingcart_review{
    position: absolute;
    border-radius: 6px;
    width: 70%;
    height: 100%;
    top: 40rem;
    left: 1rem;
   
}

.editinfo{
    position: absolute;
    display: flex;
    justify-content: space-between;
    
    color: black;
    top: 2rem;
    right: -30rem;
    text-decoration: none;
}
.editinfo:hover{
    color: #0078a1
}
.backtoform{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1rem;
    cursor: pointer;
    color: black;
    text-decoration: none;

}
.backtoform:hover{
    color: #0078a1
}
.arrowbacktocart{
    position: absolute;
    top:7rem;
    color: #0078a1;
    text-decoration: none;
}
.arrowbacktocart:hover{
    opacity: .7;
}

.arrowbackReview{
    position: relative;
    top: .16rem;
}
.cart_quantity_review{
    position: relative;
    top: -.5rem;
    left: 0rem;
    font-weight: 700;

}
.cart_itemprice_revieworder{
    position: absolute;
    top: 1.5rem;
    right:2rem;
    font-weight: 700;
}
.net_cart_itemprice_revieworder{
    position: absolute;
    top: 1.5rem;
    left:24rem;
    font-size: .9rem;
}
/* Define keyframes for slide-in animation */
@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Style for the message div */
  .message {
    position: relative;
    top: 19rem;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    animation: slideInFromRight 0.5s ease-out;
    max-width: 300px;
    word-wrap: break-word;
  }
  
  /* Additional styles for success and error messages */
  .message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  
  .message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  
@media (max-width: 45rem) {

   form{
    left: 0rem;
    width: 23rem;
   }
   input{
width: 24rem;
   }
   select{
    width: 25rem;
   }
    .order_summary_checkout{
        top: 85rem;
        left: 0rem;
        width: 100%;
    }
    .shoppingcart_footer{
        top: 105rem;
    }
    .editinfo{
        width: 5rem;
        left: 20rem;
    }
    .tbl_description, .tbl_total, .tbl_net, .tbl_qty{
        display: none;
    }
    .cart_quantity_review{
        top:-4.5rem;
        left:10rem;
      
    }
    .cart_itemprice_revieworder{
display: none;
    }
    .net_cart_itemprice_revieworder{
        left: 20rem;
    }
}