.shoppingcartpage_container {
  position: absolute;

  width: 100%;
  height: 100%;
}
.productsdisplay_shoppingcart{
 position: absolute;
 border-radius: 6px;
 width: 70%;

 top: 10rem;
 left: 1rem;

    
}
.display_cart{
    position: relative;
    display: flex;
left: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 10rem;
  


}
.net_cart_itemprice{
    position: absolute;
    top: 1.5rem;
    left:24rem;
    font-size: .9rem;

}

.cart_itemprice{
    position: absolute;
    top: 1.5rem;
    right:2rem;
    font-weight: 700;
    
}
.lucameraoff_cart{
    position: relative;
    font-size: 2.5rem;
}
.btngroup_cart{
    position: absolute;
    display: flex;
    top: 2rem;
    left: 35rem;

    flex-direction: row;
    width: 6rem;
    height: 2rem;
  


}
.btngroup_cart button{
    position: relative;
    height:2rem ;
    width: 2rem;
    border: 1px solid #0078a1;
    background-color: white;
    cursor: pointer;
  


}

.increase-item{
    position: relative;
    left: 0rem;
}
.decrease-item{
    position: relative;
    left: 2rem;
}
.cart_empty{
    position: absolute;
    font-size: 2rem;
    top: 13rem;
    left: 16rem;
}


.btngroup_cart .cart_quantity{
    position: relative;
    top: -1rem;
    left: 1rem;
    font-weight: 700;

}
.p_carttotal{
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    color: #0078a1;

}

.cart_totalitemsprice{
    position: absolute;
    top: 3.3rem;
    right: 1rem;
    font-size: 1rem;
}
.hr_shoppingcartpage{
    position: relative;
    top: 2rem;
    
  border-style: ridge;
  
    
}
.hr_incartdisplay{
   position: absolute;
   display: flex;
   width: 95%;
   bottom: 0;
   border-style: ridge;
}
.p_serialnumber{
    position: absolute;
    left: 4rem;
    top: 2rem;
    font-size: .8rem;
    color: grey;
}
.order_summary{
    position: absolute;
    background-color: #fafafa;
    right:2rem;
    width: 19rem;
    top: 11rem;
    height: 20rem;

}
.order_summary p{
    position: relative;
    left:1rem;
    font-weight: 500;
}
.checkout_btn{
    position: absolute;
    bottom: 1rem;
   height: 3rem;
    width: 15rem;
    display: flex;
    left: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #43b02a;
    border: none;
    color: white;
}
.checkout_btn:hover{
    background-color: grey;
}
.cart_removeitem{
    position: absolute;
    bottom: 0rem;
    right: 2rem;
    cursor: pointer;
    width: 5rem;
    font-size: 1.2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    color: red;
    align-items: center;
}
.cart_removeitem:hover{
    opacity: .8;

}
.btn_clearcart{
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 6rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    color:#0078a1;
    border-radius: 5px;
}
.btn_clearcart:hover  {


    box-shadow: 0px 0px 2px 0px;

}
.shoppingcart_footer{
    position:absolute;

    background-color: #373D41;
    top: 80rem;
    height: 8rem;
    left: 0;
    right: 0;
    box-sizing: border-box;
}
.deleteicon{
    position: relative;
    top: .1rem;
    left: .2rem;
}