.shoppingcartpage_container {
  position: absolute;

  width: 100%;
  height: 100%;
}
.productsdisplay_shoppingcart{
 position: absolute;
 border-radius: 6px;
 width: 70%;

 top: 6rem;
 left: 1rem;

    
}
.display_cart{
    position: relative;
    display: flex;
left: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 10rem;
  


}
.net_cart_itemprice{
    position: absolute;
    top: 2rem;
    left:24rem;
    font-size: .9rem;

}
.cart_item_title{
    font-weight: bold;
     position: absolute; 
     top: 2rem;
     left: 4rem;
     font-size: .89rem;
}

.cart_itemprice{
    position: absolute;
    top: 2rem;
    right:2rem;
    font-weight: 700;
    
}
.lucameraoff_cart{
    position: relative;
    font-size: 2.5rem;
}
.btngroup_cart{
    position: absolute;
    display: flex;
    top: 2rem;
    left: 35rem;

    flex-direction: row;
    width: 6rem;
    height: 2rem;
  


}
.btngroup_cart button{
    position: relative;
    height:2rem ;
    width: 2rem;
    border: 1px solid #0078a1;
    background-color: white;
    cursor: pointer;
  


}

.increase-item{
    position: relative;
    left: 0rem;
}
.decrease-item{
    position: relative;
    left: 2rem;
}
.cart_empty{
    position: absolute;
    font-size: 2rem;
    top: 8rem;
    left: 16rem;
}


.btngroup_cart .cart_quantity{
    position: relative;
    top: 0rem;
    left: 1rem;
    font-weight: 700;

}
.p_carttotal{
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    color: #0078a1;

}

.cart_totalitemsprice{
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    font-size: 1rem;
}
.hr_shoppingcartpage{
    position: relative;
    top: 2rem;
    
  border-style: ridge;
  
    
}
.hr_incartdisplay{
   position: absolute;
   display: flex;
   width: 95%;
   bottom: 0;
   border-style: ridge;
}
.p_serialnumber{
    position: absolute;
    left: 4rem;
    top: 4rem;
    font-size: .8rem;
    color: grey;
}
.order_summary{
    position: absolute;
    background-color: #fafafa;
    right:2rem;
    width: 19rem;
    top: 11rem;
    height: 17rem;

}
.order_summary p{
    position: relative;
    left:1rem;
    font-weight: 500;
}
.checkout_btn{
    position: absolute;
    bottom: 1rem;
   height: 3rem;
    width: 100%;
    display: flex;
    left: 0rem;
    justify-content: center;
    align-items: center;
    background-color: #43b02a;
    border: none;
    color: white;
}
.checkout_btn:hover{
    background-color: grey;
}
.cart_removeitem{
    position: absolute;
    bottom: 0rem;
    right: 2rem;
    cursor: pointer;
    width: 5rem;
    font-size: .8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    color: red;
    align-items: center;
}
.cart_removeitem:hover{
    opacity: .8;

}
.btn_clearcart{
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 6rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    color:#0078a1;
    border-radius: 5px;
}
.btn_clearcart:hover  {


    box-shadow: 0px 0px 2px 0px;

}
.shoppingcart_footer{
    position:absolute;

    background-color: #373D41;
    top: 100rem;
    height: 30rem;
    left: 0;
    right: 0;
    box-sizing: border-box;
}
.deleteicon{
    position: relative;
    top: .1rem;
    left: .2rem;
}
.quotation_items{
   position: relative;
   left: 10rem;
   top:5rem;
   width: 70%;


    
}
.quotation_items h2{
    position: relative;
    top: 1.5rem;
}
.quotation_items h2{
    color:#0078a1;
}
.addtocart_btn_saveditem{
    position: absolute;
    top: 7rem;
    left: -2rem;
    background-color: rgb(155, 191, 231);
    padding: .6rem;
    width: 20rem;
    font-size: 1rem;
    color: white;
    border: none;
    cursor: pointer;
}

.stock_status_saved {
    position: relative;
    left: 15rem;
    top: 2.5rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
  }
  .status_indicator_saved {
    position: absolute;
    top: .2rem;
    left: -1rem;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
.quick_search{
    position: absolute;
    background-color: #fafafa;
    right:2rem;
    width: 19rem;
    top: 30rem;
    height: 17rem;


}
.code_label{
    position: absolute;
    top: 4.5rem;
    left: 1rem;

}
.quick_input{
    position: absolute;
    top: 6rem;
    left: 1rem;
    padding: 10px;
    width: 9rem;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}
.qty_label{
    position: absolute;
    right: 3.9rem;
    top: 4.5rem;
}
.quick_qty{
    position: absolute;
    top: 6rem;
    right: 2rem;
    padding: 10px;
    width: 3.2rem;
}
.quick_addtocart{
    position: absolute;
    bottom: 1rem;
   height: 3rem;
    width: 100%;
    display: flex;
    left: 0rem;
    justify-content: center;
    align-items: center;
    background-color: #43b02a;
    border: none;
    color: white;

}
.cantfind{
    position: absolute;
    background-color: #fafafa;
    right:2rem;
    width: 19rem;
    top: 50rem;
    height: 17rem;
}
.cantfind a{
    color:#0078a1;
}
.netprice_cart{
    position: absolute;
    top: 5rem;
    left: 25rem;
    font-weight: 500;
}
.table_description{
    position: absolute;
    top: 5rem;
    left: 2rem;
    font-weight:500;
}
.qty_cart{
    position: absolute;
    top: 5rem;
    right: 13rem;
    font-weight: 500;
}
.p_description{
    
    height: 2rem;
    margin-top: 20px;
    font-weight: bold; 
    font-size: .9rem;
    position: absolute; 
    width: 18rem;
    left: 4rem;
}
.prdt_image_shopping{
    position: relative;
    top: 1rem;
    left: -1.5rem;
    max-height: 5rem;
    max-width: 5rem;
  justify-content: center;
  align-items: center;
    font-size: 3.5rem;
    color: grey;
  
  }
@media (max-width: 45rem) {
    .order_summary{
        top: 70rem;
        left: 1rem;
        width: 100%;
    }
    .quick_search{
        top: 90rem;
        left: 1rem; 
        width: 100%;
    }
    .cantfind{
        top: 110rem;
        left: 1rem; 
        width: 100%;
    }
    .shoppingcart_footer{
        top: 140rem;
    }

    .btngroup_cart{
        left: 4rem;
        top: 3rem;

    }
    .cart_item_title{

    }
    .cart_itemprice{
        left: 15rem;
        width: 5rem;
        display: none;
    }
    .net_cart_itemprice{
        left: 20rem;
        width: 5rem;
    }
    .netprice_cart{
        left: 21rem;
        width: 5rem;
    }

    .total_cart_table{
        display: none;
    }
    .table_description{
        display: none;
        left: 8rem;
    }
    .qty_cart{
      display:none;
    }
    .btn_clearcart{
        left: 19rem;
    }
    .p_serialnumber{
        position: relative;
        top: 5rem;
        left: 1.5rem;
    }
    .p_description{
        position: relative;
        top: 1rem;
        left: -6.5rem;
    }
  .cart_removeitem{
    left: 20rem;
  }
  
}
