.shoppingcartpage_container {
  position: absolute;

  width: 100%;
  height: 100%;
}
.productsdisplay_shoppingcart{
 position: absolute;
 border-radius: 6px;
 width: 70%;
 height: 100%;
 top: 6rem;
 left: 15rem;
 box-shadow: 0px 0px 5px 0px;
    
}
.display_cart{
    position: relative;
    display: flex;
left: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 10rem;
  


}
.cart_empty{
    position: relative;
    background-color: aqua;
    top: 10rem;
    left: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cart_itemprice{
    position: absolute;
    top: 0rem;
    right:2rem;
    
}
.btngroup_cart{
    position: absolute;
    display: flex;
    top: 7rem;

    flex-direction: row;
    width: 6rem;
    height: 2rem;
  


}
.btngroup_cart button{
    position: relative;
    height:1.5rem ;
  


}
.increase-item{
    position: relative;
    left: 0rem;
}
.decrease-item{
    position: relative;
    left: 2rem;
}


.btngroup_cart .cart_quantity{
    position: relative;
    top: -1rem;
    left: 1rem;

}
.p_carttotal{
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    color: #0078a1;

}

.cart_totalitemsprice{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.2rem;
}
.hr_shoppingcartpage{
    position: relative;
    top: 0rem;
  
    
}
.hr_incartdisplay{
   position: absolute;
   display: flex;
   width: 95%;
   bottom: 0;
}
.p_serialnumber{
    position: absolute;
    left: 0rem;
    top: 2rem;
    font-size: .8rem;
}
