.categories-wrapper {
  display: flex;
  position: relative;
}

.categories-container {
  position: absolute;
  top: 4.5rem;
  right: 56rem;
  width: 20rem;
  height: 35rem;
  overflow-y: auto;

  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 1000;
}

.category-items-sidebar {
  position: absolute;
  top: 4rem;
  left: 22rem;
  width: 20rem;
  height: 35rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow-y: auto;
  padding: 10px;
  z-index: 999;
}

.categories-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.close-button {
  display: none;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.categories-list {
  position: relative;
  left: .5rem;
  display: block;
  width:100%;
}

.categories-list.visible {
  display: block;
}

.listedproducts-categories {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.listedproducts-categories > li {
  padding: 1.5rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.listedproducts-categories > li span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listedproducts-categories > li span .arrow {
  margin-left: 0.5rem;
}

.dropdown-menu {
  list-style-type: none;
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.dropdown-menu > li {
  padding: 0.25rem 0;
  cursor: pointer;
}

.dropdown-menu > li:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .categories-container {
    display: none;
    width: 100%;
  }

  .category-items-sidebar {
    display: none;
  }

  .categories-container.visible {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
  }

  .categories-toggle {
    display: block;
  }

  .close-button {
    display: block;
  }
}
