/* categories.css */
.categories-container {
  position: relative;
  top: 8rem;
  padding: 20px;
  width: 10rem;
}

.listedproducts-categories {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 10rem;


}

.listedproducts-categories > li {
  position: relative;
  height: 3rem;
  margin: 10px 0;

  width: 21vh;
  cursor: pointer;
  position: relative;
}
.listedproducts-categories > li:hover{
  color:#0078a1 ;
}
.arrow {
  margin-left: 10px;
}

.dropdown-menu {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
}

.dropdown-menu li {
  padding: 5px 0;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
