.container_shop{
    position: absolute;
    top: 0rem;
 
    width: 100%;  
    flex-grow: 1;
   
  
    
}
.Categories_container{
    position: absolute;
    

}
.shop_product_container{
 
    position: absolute;
    top: 0rem;
 width: 70%;
    left: 0rem;
 
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.shop_routes{
    position: absolute;
    
    width: 10rem;
    top: 7rem;
    left: 12rem;
 
}
.shop_footer{
    position:absolute;
    background-color: #373D41;
    top:140rem;
    height: 30rem;
    left: 0;
    right: 0;
    box-sizing: border-box;

    

  left: 0;
  right: 0;
  bottom: 0; /* Stick to the bottom of the viewport */
  box-sizing: border-box;
}
.get_quote{
    position: relative;
    top: -.5rem;
    background-color: #007bff;
    width: 5.8rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0rem;
    font-size: 1rem;
   
      height: 35px;
      border-radius: 1000px;
  
  }
  .get_quote p{
    font-size: .8rem;
    font-weight: 600;
  }
  .fabars_categories{
    position: relative;
    left: 1.5rem;
    top: -1.5rem;
    display: none;
      
    
    }
 
  @media (max-width: 45rem) {
  .shop_routes{
    left: 3em;
  }
  .shop_footer{
    top: 195rem;
  }
 
}
