.container_shop{
    position: absolute;
    top: 0rem;
    
    width: 100%;  
    flex-grow: 1;
   
  
    
}
.Categories_container{
    position: absolute;
    

}
.shop_product_container{
 
    position: absolute;
    top: 8rem;
 width: 70%;
    left: 20rem;
   
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.shop_routes{
    position: absolute;
    
    width: 10rem;
    top: 6rem;
    left: 20rem;
 
}
