
.container_footer{
  position: relative;
  top: 0rem;
  background-color: #373D41 ;
 
}

.container {
    position: relative;
    width: 250px;
   top: -1rem;
   left: 30rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;

  }
  .top_container{
    position: relative;
    background-color: #f3f1f1;
    top: -1rem;
    height: 20rem;
    width: 100%;
  }
  .contact_p_header {
    position: relative;
    top: 1rem;
    left: 1rem;
    width: 5rem;

  }

  .contact_quicklinks{
    position: relative;
    top: 0rem;
    left: 1rem;
   font-size: .8rem;
    width: 20rem;
    height: 20rem;
    
  }
  .contact_quicklinks a{
    color:#0078a1;
    font-size: .8rem;
  }
  .container button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #313638;
    transition: 0.3s;
    cursor: pointer;
  }
  .footerline{
    position: absolute;
    width: 1rem;
    top: 2rem;
    left: 20rem;
    border-left: 1px solid grey;
    height: 16rem;
    

  }

  
  .contact_description{
position: absolute;
      top:2rem;
      left: 23rem;
      width: 20rem;
     
    

  }
  .contact_description p{
      font-size: .7rem;
  }
  .contact_description a{
    text-decoration: none;
    color:#0078a1;
    font-size: .9rem;

  }
  .icon {
    width: 26px;
    height: 26px;
    fill: #fff;
  }
  
  .container button:nth-child(1):hover {
    background-color: #2753a7;
  }
  
  .container button:nth-child(2):hover {
    background-color: #cd242b;
  }
  
  .container button:nth-child(3):hover {
    background-color: #55acee;
  }
  
  .container button:nth-child(4):hover {
    background-color: #0274b3;
  }
  
  .title {
    color: gray;
    font-weight: 700;
    font-size: 17px;
    position: absolute;
    top: -35px;
    left: 0;
  }

  .legalandcopy_footer{
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0rem;
    left: 25rem;
    color: white;
    text-decoration: none;
   
  }
  .copy_footer{
    position: relative;
    left: 3rem;
  }
  
  @media (max-width: 45rem) {
    .container{
      position: relative;
      left: 0rem;
    }
  .legalandcopy_footer{
    position: relative;
    left:0rem;
    top: 2rem;
  }
  .top_container{
    position: relative;
    height: 45rem;

  }
  .contact_quicklinks{
    
    width: 10rem;
    height: 15rem;
    left: 0rem;
    font-size: 1rem;


  }
  .footerline{
    left: 13.8rem;
  }
  .contact_description{
    position: absolute;
    left: 14rem;   
    width: 12.5rem;
    
    
  }
  
  }