.searchdisplay_container{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  
  }
  .productdisplay_container_search {
      position: absolute;
  
      border-radius: 6px;
      top: 12rem;
      left: 0rem;
    
 
  flex-grow: 1;
      width: 100%;
    
      flex-grow: 1;
      transition: width 0.5s ease;
      
    }
    .searchdisplay_container h2{
      position: relative;
      left: 17rem;
      top: 8rem;
      font-size: 1rem;
      width: 10rem;
    }
  
    
    .sub_productdisplay_container_search {
      position: relative;
      display: grid;
      flex-direction: column;
      width: 90%;
      top: 0rem;
      left: 12rem;
  
      grid-template-columns: repeat(4, 150px);
      grid-gap:95px;
      
    
    }
    
    .sub_productdisplay_container_search.normal  {
      display: flex;
      position: relative;
      
    
      
    }
    .mylink_search {
      position: relative;
      border: 1px solid grey ;
      border-radius: 6px;
      top: 2rem;
        left: 1rem;
        width: 14rem;
        height: 19rem;
        color: black;
        text-decoration: none;
    
    
      
    }
    .mylink_search:hover{
      padding: .1rem;
      box-shadow: 0px 0px 5px 0px;
      transition: background-color 0.3s ease;
    }
    .search_display_wrapper {
      display: flex;
      flex-grow: 1;
    }
    
    
    
    .category_panel {
      position: absolute;
      top: 10rem;
      width: 15%;
      padding: 20px;
      border-right: 1px solid #ddd;
    }
    
    .category_panel h3 {
      margin-bottom: 10px;
    }
    
    .category_panel ul {
      list-style: none;
      padding: 0;
    }
    
    .category_panel li {
      margin-bottom: 5px;
    }
    
    .productdisplay_container_search {
      width: 80%;
      padding: 20px;
    }
    
    .search_input_container {
      margin-bottom: 20px;
    }
    
    .search_input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    .btn_group {
      display: flex;
     
    }  
    .arrowback{
      position: relative;
      top: .2rem;
    }
    .sidebar{
      position: relative;
      top:8rem ;
      
     overflow-y: auto;
      width: 12rem;
      left: 1rem;
      

    }
    .sidebar ul{
      list-style-type: none;
      position: relative;
      display: flex;
      flex-direction: column;
      top: 0rem;
      right: 2rem;
    
     
      
    }
  .sidebar li{
    height: 3rem;
 
    cursor: pointer;
  }
  .sidebar li:hover{
    border-radius: 6px;
    padding: 5px 3px;
    border-bottom: 2px solid #5b5fc7;
  }
  .get_quote-search{
    position: relative;
    top: -.5rem;
    background-color: #007bff;
    width: 5.8rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    right: .5rem;
    font-size: 1rem;
   
      height: 35px;
      border-radius: 1000px;
  
  }
  .get_quote-search p{
    font-size: .8rem;
    font-weight: 600;
  }
  .search_footer{
    position: relative;
    background-color: #373D41;
    height: 8rem;
    left: -2rem;
    
    top: 15rem;
    width: 126%;
    box-sizing: border-box;
}
