.notifications-container {
  padding: 20px;
}

.usernotification_ul {
  list-style: none;
  padding: 0;
}

.usernotification_ul li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.usernotification_ul li.unread {
  background-color: #f9f9f9;
}

.usernotification_ul li.read {
  background-color: #e0e0e0;
}

.notification-message {
  display: flex;
  align-items: center;
}

.order-number {
  font-weight: bold;
  margin-right: 5px;
}

.notification-text {
  margin-left: 5px;
}

.mark-as-read-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.mark-as-read-button:hover {
  background-color: #0056b3;
}
