.forgot-password-container {
  position: relative;
  top: 10rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-container h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .forgot-password-container form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-container label {
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .forgot-password-container input[type='email'] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .forgot-password-container button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .forgot-password-container button:hover {
    background-color: #0056b3;
  }
  
  .forgot-password-container p {
    margin-top: 10px;
    color: #007bff;
    font-weight: bold;
  }
  
  .forgot-password-container p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password-container p a:hover {
    text-decoration: underline;
  }
  