
  


/* adminproducts.css */

.order-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-info p, .total-price p {
  font-size: 1.1em;
  margin: 10px 0;
}

.order-items {
  margin: 20px 0;
}

.order-item p {
  margin: 5px 0;
}

.order-status-buttons {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

.order-status-buttons button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.order-status-buttons button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.clear-btn{
  background-color: #d9534f;
  color: white;
}

.approve-btn {
  background-color: #4CAF50;
  color: white;
}

.pending-btn {
  background-color: #FFC107;
  color: white;
}

.decline-btn {
  background-color: #F44336;
  color: white;
}

.go-back-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.go-back-btn:hover {
  background-color: #0056b3;
}

.generate-pdf-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.generate-pdf-btn:hover {
  opacity: 0.8;
}
.progress-container {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  position: relative;
  width: 80%; /* Adjust as needed for your layout */
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px; /* Increased margin for the knob */
}

.progress-bar-fill {
  height: 100%;
  background: #4caf50;
  transition: width 0.4s ease;
}

.progress-step-container {
  position: absolute;
  top: -15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.progress-step {
  width: 20px;
  height: 20px;
  background: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
}

.progress-step.completed {
  background: #4caf50;
}

.progress-step-labels {
  width: 80%; /* Match the width of the progress bar */
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.progress-step-label {
  text-align: center;
  width: 20px; /* Same width as the step indicator */
}

.progress-knob {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background: #ff9800;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: left 0.4s ease;
}




@media (max-width: 600px) {
  .order-details-container {
    padding: 15px;
  }

  .order-info p,
  .order-item p {
    font-size: 14px;
  }

  .total-price {
    font-size: 16px;
  }

  .go-back-btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}
