/* adminproducts.css */

/* General Styles */
.order-details-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 900px;
  margin-left: 200px;
}

.order-details-content {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}

.order-info p {
  margin: 10px 0;
}

.order-info span {
  font-weight: bold;
}

/* Order Items */
.order-items {
  margin-top: 20px;
}

.order-item {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.total-price {
  margin-top: 20px;
  font-weight: bold;
}

/* Order Status Buttons */
.order-status-buttons {
  margin-top: 20px;
}

.order-status-buttons button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.clear-btn {
  background-color: #4CAF50;
}

.approve-btn {
  background-color: #2196F3;
}

.pending-btn {
  background-color: #FFC107;
}

.decline-btn {
  background-color: #F44336;
}

.complete-btn {
  background-color: #009688;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Generate PDF Button */
.generate-pdf-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #673AB7;
  cursor: pointer;
  font-size: 16px;
}

.generate-pdf-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Progress Bar */
.progress-container {
  margin-top: 20px;
}

.progress-bar {
  position: relative;
  height: 25px;
  background-color: #f3f3f3;
  border-radius: 12px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4CAF50;
  border-radius: 12px;
}

.progress-step-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 10px;
}

.progress-step {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: #fff;
}

.progress-step.completed {
  background-color: #4CAF50;
}

.progress-step-labels {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.progress-step-label {
  font-size: 12px;
  text-align: center;
}
