.order-details-page {
  position: relative;
  left: 15rem;
    padding: 20px;
    width: 70%;
  }
  
  .order-details-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .order-details-page ul {
    list-style-type: none;
    padding: 0;
  }
  
  .order-details-page li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  