.big_container {
    position: absolute;
    top: 0rem;
    width: 100%;
    height: 120rem;
    flex-grow: 1;
}

.big_cont{
    position: absolute;
    background-color: aqua;
    top: 5rem;
    left: 10rem;
    height: 10rem;
    width: 10rem;
}