.big_container {
  position: absolute;
  top: 0rem;
  width: 100%;

  flex-grow: 1;
}

.productdisplay_container {
  position: absolute;
 display: block;
 
  top: 12rem;
  left: 0rem;

  


  
}



.pagination {
  position: absolute;

  display: flex;
  flex-grow: 1;

  align-items: center;
  left: 18rem;
  border-radius: 5px;

  width: 30rem;
  bottom: -8rem;
  list-style-type: none;
}

.pagination a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #0078a1;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  cursor: pointer;
  background-color: #ddd;
}

.pagination .active {
  background-color: #007bff;
  color: #fff;
}

.pagination .disabled {
  color: #ccc;
  cursor: not-allowed;
}

.sub_productdisplay_container.grid {
  position: absolute;
  display: grid;
  flex-direction: column;

  top: 0rem;
  left: 21rem;

  grid-template-columns: repeat(4, 165px);
  grid-gap:50px;
  

}

.sub_productdisplay_container.normal  {
  display: flex;
  flex-direction: column;
  

  
  left: 21rem;
  position: relative;
  

  
}

.btn_group {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 7rem;
  top: 0rem;
  right: 0rem;
  height: 1rem;


}
.btn_group p:hover{
  cursor: pointer;
  color: #0078a1;

}

.cameraoff_icon {
  position: relative;
  display: flex;

  top: 0rem;
justify-content: center;
align-items: center;
  font-size: 3.5rem;
  color: grey;
}
.prdt_image{
  position: relative;
  display: flex;

  top: 0rem;
justify-content: center;
align-items: center;
  font-size: 3.5rem;
  color: grey;

}
.prdt_title{
  position: relative;
  font-size: 1.15rem;
  top: -3rem;
  left: 1rem;
  font-weight: 600;

}
.prdt_partnumber{
  position: relative;
  top: -2rem;
  left: 1rem;
  font-size: .8rem;
  font-weight: 600;
  color: grey;
}
.prdt_price{
  position: relative;
  top: -4rem;
  left: 1rem;
font-size: 1rem;
  font-weight: 600;

}
.prdt_category{
  position: relative;
  top: -1rem;
  left: 1rem;
  font-size: .8rem;
  font-weight: 600;
  color: grey;


  
}

.mylink {
  position: relative;
border: 1px solid grey ;
border-radius: 6px;
top: 2rem;
  left: 1rem;
  width: 12rem;
  height: 15rem;
  color: black;
  text-decoration: none;


  
}
.mylink:hover{
  padding: .1rem;
  box-shadow: 0px 0px 5px 0px;
  transition: background-color 0.3s ease;
}
.featuredprdts_length{
  position: absolute;
  top: 0rem;
  left: 1rem;
  font-weight: 700;
}