.big_container {
  position: absolute;
  top: 0rem;
  width: 100%;

  flex-grow: 1;
}

.productdisplay_container {
  position: absolute;
 display: block;
 
 flex-grow: 1;
 height: 20rem;
  top: 12rem;
  left: 0rem;

  


  
}



.pagination {
  position: absolute;

  display: flex;
  flex-grow: 1;

  align-items: center;
  left: 18rem;
  border-radius: 5px;

  width: 30rem;
  bottom: -8rem;
  list-style-type: none;
}

.pagination a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #0078a1;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  cursor: pointer;
  background-color: #ddd;
}

.pagination .active {
  background-color: #007bff;
  color: #fff;
}

.pagination .disabled {
  color: #ccc;
  cursor: not-allowed;
}

.sub_productdisplay_container.grid {
  position: absolute;
  display: grid;
  flex-direction: column;
  top: 0rem;
  left: 11rem;
  grid-template-columns: repeat(4, 165px);
  grid-gap:90px;
}

.sub_productdisplay_container.normal  {
  display: flex;
  flex-direction: column;
  left: 21rem;
  position: relative;
}

.btn_group {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 7rem;
  top: 0rem;
  right: 0rem;
  height: 1rem;


}
.btn_group p:hover{
  cursor: pointer;
  color: #0078a1;

}

.cameraoff_icon {
  position: relative;
  display: flex;

  top: -1rem;
justify-content: center;
align-items: center;
  font-size: 3.5rem;
  color: grey;
}
.prdt_image{
  position: relative;
 

  top: 0rem;
justify-content: center;
align-items: center;
  font-size: 3.5rem;
  color: grey;

}
.prdt_title{
  position: relative;
  font-size: 1.10rem;
  top: -4rem;
  left: 0.7rem;
  font-weight: 600;
  width: 14rem;

}
.prdt_partnumber{
  position: relative;
  top: -3rem;
  left: 0.7rem;
  font-size: .8rem;
  font-weight: 600;
  color: grey;
}
.prdt_price{
  position: relative;
  top: -5rem;
  left: 1rem;
font-size: 1rem;
  font-weight: 600;

}
.prdt_category{
  position: relative;
  top: -1rem;
  left: 1rem;
  font-size: .8rem;
  font-weight: 600;
  color: grey;


  
}

.mylink {
  position: relative;
border: 1px solid grey ;
border-radius: 6px;
top: 2rem;
  left: 1rem;
  width: 15rem;
  height: 19rem;
  color: black;
  text-decoration: none;


  
}
.mylink:hover{
  padding: .1rem;
  box-shadow: 0px 0px 5px 0px;
  transition: background-color 0.3s ease;
}
.featuredprdts_length{
  position: absolute;
  top: 0rem;
  left: 1rem;
  font-weight: 700;
}

.p_loading{
  position: absolute;
  font-size: 4rem;
}
.filterelement_footer{
  position: relative;
  background-color: #373d41;
height: 8rem;
  box-sizing: border-box;
  clear: both;
  top: 30rem;
  right: 30rem;
  width: 758%;



}
.loader {
  position: relative;
  width: 192px;
  height: 272px;
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  padding: 15px;
  background-color: #e3e3e3;
  overflow: hidden;
}

.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
  animation: gradient-animation_2 1.2s linear infinite;
}

.loader .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader .wrapper > div {
  background-color: #cacaca;
}

.loader .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loader .button {
  display: inline-block;
  height: 32px;
  width: 75px;
}

.loader .line-1 {
  position: absolute;
  top: 11px;
  left: 58px;
  height: 10px;
  width: 100px;
}

.loader .line-2 {
  position: absolute;
  top: 34px;
  left: 58px;
  height: 10px;
  width: 150px;
}

.loader .line-3 {
  position: absolute;
  top: 57px;
  left: 0px;
  height: 10px;
  width: 100%;
}

.loader .line-4 {
  position: absolute;
  top: 80px;
  left: 0px;
  height: 10px;
  width: 92%;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
.stock_status{
  position: relative;
left: .5rem;
top:-3rem;
height: 2.5rem;
display: flex;
flex-direction: row;
font-size: .8rem;

}
.status_indicator {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.in_stock {
  position: relative;
  background-color: green;
  font-size: .5rem;
  
}

.out_of_stock {
  position: relative;
  background-color: red;
  font-size: .3rem;
}
.in_out_stock{
  position: relative;
  top: 0rem;
  left: 0rem;
  width: 6rem;
}
.get_quote_productpage{
  position: relative;
  top: -.5rem;
  background-color: #007bff;
  width: 5.8rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0rem;
  font-size: 1rem;
 
    height: 35px;
    border-radius: 1000px;

}
.get_quote_productpage p{
  font-size: .8rem;
  font-weight: 600;
}